.greetings {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 48px 0;
  margin: 0 auto;
  max-width: 800px;
  font-family: var(--font-montserratAlt);

  p {
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
    max-width: 375px;
  }
}
