.greetings {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 48px 0;
  margin: 0 auto;
  max-width: 800px;

  &__title {
    font-size: 24px;
    text-align: center;
    letter-spacing: -3%;
    font-family: var(--font-comfortaa);
    font-weight: 300;

    span {
      font-size: 48px;
    }
  }

  &__description {
    text-align: center;
    color: #a0bbd6;
    font-family: var(--font-montserrat);
    max-width: 350px;
  }

  &__musicDescription {
    font-size: 12px;
    text-align: center;
  }
}
