.date {
  &__container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    width: 100%;
  }

  &__other {
    font-size: 20px;
    padding: 8px;
    border: 1px solid #fbeadd;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 40px;
  }

  &__event {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }

  &__wedding {
    font-size: 20px;
    position: relative;
    z-index: 1;
  }

  &__wedding::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    background: url("/heart.svg") no-repeat center;
    background-size: contain;
  }
}
