.schedule {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 60px 20px;
  max-width: 800px;
  width: 100%;

  h3 {
    font-size: clamp(28px, 2.5vw, 48px);
    font-weight: 400;
    text-align: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__time,
  &__title {
    font-size: clamp(24px, 2vw, 38px);
  }

  &__title {
    color: #486399;
  }

  &__description {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
    font-size: clamp(16px, 2.5vw, 22px);
  }

  @media (max-width: 768px) {
    padding: 40px 20px;
  }
}
