.details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-top: 48px;
  width: 100%;
  font-family: var(--font-montserratAlt);

  &__container {
    --r: 25px;
    height: 300px;
    aspect-ratio: 1.2;
    border-radius: 20px;
    color: #6a90b5;
    background-color: #f9e3d6;
    mask: radial-gradient(var(--r) at var(--r), #0000 calc(100% - 1px), #000) calc(-1 * var(--r));
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px 32px;
    justify-content: center;
  }

  h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 24px;
    max-width: 290px;
    font-family: var(--font-montserrat);
  }

  p {
    text-align: center;
    font-size: 16px;
  }

  a {
    color: #2d5a86;
    font-weight: 700;
  }
}
