.button,
.link {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: none;
  background-color: #fff8e8;

  &:hover {
    background-color: #c5c5c563;
  }

  &:disabled {
    background-color: #c5c5c563;
    cursor: not-allowed;
  }
}
